*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

h1{
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

#form-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(75, 0, 196, 0.2);
    padding: 10px;
    border-radius: 20px;
}

#title{
    padding: 10px;
    width: 20em;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1em;
}

#title::placeholder{
    color:white;
    opacity: 30%;
}

#description{
    resize: none;
    padding: 10px;
    background: none;
    border: none;
    font-size: .9em;
    color: white;
}

#description::placeholder{
    color: white;
    opacity: 30%;
}

#description:focus{
    outline: none;
}

#add{
    padding: 10px 40px;
    margin-top: 20px;
    background-color: rgba(75, 0, 196, 0.2);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#footer-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#edit{
    padding: 5px 20px;
    background-color: greenyellow;
    color: green;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#delete{
    padding: 5px 15px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}